html {
  /* overflow-y: auto !important; */
}

body {
  --good-year-carousel: #5faeff;
  --dunlop-carousel: #eeff00;
  --sava-carousel: rgba(0, 255, 0);
  --vredestein-carousel: #c7c4c0;
  --background-color: #d7e1fb;
  --red: rgb(253, 86, 86);
  --dark-bg: #AFC2D8;
  --menu-bg: #efcfcfe8;
  /* position: relative; */

  overflow-y: scroll !important;
  overflow-x: hidden;
  background-color: var(--background-color) !important;
}

body::-webkit-scrollbar {
  width: .5em;

}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(116, 116, 116);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(207, 207, 207);
  outline: 1px solid slategrey;


}

.Toastify {
  z-index: 99999999 !important;
}

.container-fluid {
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 1;
  background-color: var(--background-color) !important;
  width: 100vw !important;
  max-width: 100vw !important;
  padding-bottom: 1em !important;
}

.max-w-100 {
  max-width: 100%;
}

.horizontal-nav {
  position: -webkit-sticky;
  position: fixed;
  width: 100%;
  z-index: 999;

}

.main-menu-attributes {
  background-color: #1f2931a9;
  backdrop-filter: blur(.2em) brightness(80%);
}

.sava-logo {
  max-height: 3em;
}

.title-page {
  width: 95%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-no {
  padding: 0.3em 2em;
  border-radius: 1em;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  background-color: #5faeff;
}

.n-link {
  height: 3.5em;
  color: #21242b !important;
  transition: all 0.6 !important;
}

.n-link:hover {
  color: white !important;
}

.nav-link-active {
  height: 100%;
  /* background-color: red; */
  padding: 1em 0;
  border-bottom: 3px var(--good-year-carousel) solid !important;
  margin: 0 !important;
  color: white !important;

}

.nav-login-active {
  color: #5c5c5c
}

.ant-menu-item-selected {
  border-bottom: transparent !important;
  color: white !important;
}


.ant-menu-item-selected:hover {
  border-bottom: transparent !important;
  color: transparent !important;
}

/* .ant-menu-item:hover {
  border-bottom: transparent !important;
  color: white !important;
} */


/*
.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}


} */

/* ------------------ LANDING PAGE -------------- */

.landing-all {
  opacity: 0;
}

.landing-page-static {
  position: fixed;
  margin: 0 !important;
  padding: 0 !important;
  left: 0 !important;
  max-width: 100vw;
  width: 100vw;
  height: 50vw;
  /* background-color: blue; */
  background-image: linear-gradient(0deg, var(--background-color) 0%, rgba(0, 0, 0, 0.623) 20%), url("./images/Landing.jpg");
  /* background-image:url('./images/Landing.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.landing-page {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 50vw;
}

@media only screen and (max-width: 1050px) {

  .landing-content,
  .cta {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .cta h2 {
    font-size: 2vw !important;
  }
}

.landing-content {
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translateX(-50%);
}

.landing-content h2 {}

.down {
  position: absolute;
  bottom: 7%;
  right: 3em;
}

@media only screen and (max-width: 1050px) {
  .down {
    display: none;
  }

  .landing-page-static {
    margin-top: 2.8em !important;
    background-image: linear-gradient(0deg, var(--background-color) 0%, rgba(0, 0, 0, 0.25) 20%), url("./images/Landing.jpg");
  }
}

/* --------------------- TYPEWRITER -------------------- */

.typewr {
  font-size: 2.8vw;
  font-weight: 300;
  color: #5faeff !important;
  display: inline-flex;
}

.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em 6em;
  border-radius: 3em;
  background-color: rgba(174, 199, 218, 0.863);
  transition: all 0.6s ease;
  cursor: pointer;
  backdrop-filter: blur(.3em) brightness(150%);
}

.cta:hover {
  background-color: #5fafffde !important;
}

.cta h2 {
  font-size: 1.3vw;
  font-weight: 400;
  margin: 0 !important;
  padding: 0 !important;
}

/* ------------ SWIPER --------------- */

.mySwiper {
  position: relative;
  max-width: 85%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2em !important;
}

.mySameSizeSwiper {
  max-width: 91% !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 3em !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: 16em !important;
}

.swiper-button-next {
  margin-right: 1.5em;
}

.swiper-button-prev {
  margin-left: 0.5em;
  background-color: rgb(235, 235, 235);
  padding: 2.5em !important;
  border-radius: 1em 0em 0em 2.5em;
}

.swiper-button-next {
  margin-right: 0.5em;
  background-color: rgb(235, 235, 235);
  padding: 2.5em !important;
  border-radius: 0em 1em 2.5em 0em;
}

.swiper-wrapper {
  margin-bottom: 5em !important;
}

h4 {
  margin-top: 0.5em !important;
  font-family: "Univia Pro", sans-serif !important;
  text-transform: uppercase;
  font-weight: 500 !important;
}

h3 {
  font-weight: 500 !important;
}

.nav {
  margin-top: 0.75em;
}

.nav-item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: block;
  margin-top: 0.25em;
  /* border: 1px solid #abc; */
  background-color: #cfdfef;
  transition: all 0.6s;
}

.nav-item:hover {
  background-color: rgb(174, 199, 218);
}

.nav-item:after {
  pointer-events: none;
  content: "";
  background: #90ee90;
  display: block;
  position: absolute;
  padding-top: 800%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s ease;
  border-radius: 0 1em 1em 0;
}

.nav-item:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.nav-link {
  display: block;
  color: #222;
  z-index: 9999999;
}

.nav-link:hover {
  color: #225;
}

.nav-item:first-child {
  border-top-right-radius: 2em;
}

.upload-image {
  margin-right: 10px;
  position: relative;
}

.image {
  position: absolute;
}

.badge {
  position: absolute;
  left: -10%;
  top: -88%;
  cursor: pointer;
}

.icon-close {
  position: absolute;
  left: 90%;
  top: -5px;
  z-index: 2;
}

.loading-container {
  position: relative;
  overflow: hidden;
}

.loading-image {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  z-index: 999999;
  transition: all 1s ease;
}

.loading-centered {
  position: fixed;
  max-height: 400px;
  max-width: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  /* transform: translateX(-50%);
  transform: translateY(-50%); */
}

.fadeOut {
  opacity: 0;
  transition: all 5s ease;
}

.fadeIn {
  opacity: 1;
  transition: all 5s ease;
}

.full-product {
  opacity: 0;
  transition: all .6 ease;
}

.product-card {
  font-family: "Univia Pro", sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0.05em;
  position: relative;
  display: block;
  /* background: white; */
  padding: 0 0 0.3em 0;
  margin: 0 0 0 0;
  transition: all 0.6s ease;
  border-radius: 1.8em 1.8em 0em 0;
  cursor: pointer;
  box-shadow: 2px 2px 3px 0px #999999, inset -1px -1px 1px #666, inset 1px 1px 1px white;
  /* border-top: 1px solid #fff;
  border-left: 1px solid #fff; */
  /* box-shadow: inset 1px 1px 2px 1px #ffffff; */
  height: 100%;
}

.product-card:hover {
  box-shadow: 2px 2px 3px 0px #999999, inset -1px -1px 1px #666, inset 1px 1px 1px white, 0 0 1.5em rgba(33, 33, 33, 0.3);
  /* transform: scale(100.1%); */
}

.product-image {
  position: relative;
  display: block;
  text-align: center;
  padding: 0.8em 0;
}

.product-image img {
  box-shadow: inset 5px 5px #000 !important;
  border-radius: 1.5em 1.5em 0 0;
  max-width: 94%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.special-offer-slider {
  background-color: rgb(175, 194, 216);
  padding: 1em 0 2em 1em !important;
  border-radius: 0 0 0 3em;
  margin-bottom: 5em;
}

.same-dimension-slider {
  background-color: rgb(175, 194, 216);
  padding: 1em 0 2em 1em !important;
  border-radius: 0 0 0 3em;
  margin-bottom: 5em;
}

.mySwiper h4 {
  background-color: rgb(175, 194, 216);
  margin: 0 !important;
  width: 25%;
  padding: 0.8em 0 0 1.2em;
  border-radius: 0em 3em 0 0;
}

@media only screen and (max-width: 860px) {
  .mySwiper h4 {
    width: 60%;
  }
}

@media only screen and (max-width: 860px) {
  .mySwiper h4 {
    width: 60%;
  }
}

.posebna-ponuda {
  font-weight: 800;
  background-color: rgb(255, 255, 0);
  position: absolute;
  max-width: 94%;
  width: 100%;
  margin-left: 3%;
  bottom: 0.8em;
}

.product-description {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}

.tyre-dimension {
  font-size: 2em;
  margin-left: 0.5em;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 1280px) {
  .tyre-dimension {
    font-size: 1.8em !important;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1680px) {
  .tyre-price {
    font-size: 1.8em !important;
  }

  .brand-logo {
    max-height: 2.5em !important;
  }

  .discount-percent {
    max-height: 2.5em !important;
  }
}

.tyre-name {
  font-size: 1vw;
  font-weight: 400;
  margin-left: 0.6em;
}

.tyre-price {
  display: block;
  right: 0;
  text-align: end;
  padding-right: 0.6em;
  margin-bottom: 2.25em;
}

@media only screen and (min-width: 1280px) and (max-width: 1280px) {
  .tyre-price {
    padding-right: 0.3em !important;
    text-align: right !important;
  }
}

.full-price {
  color: var(--red);
  text-decoration: line-through;
  font-size: 0.6em;
}

.discount {
  color: rgb(67, 148, 67);
  text-decoration: none !important;
  font-size: 1em;
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .discount {
    font-size: 1em;
  }

  .full-price {
    font-size: 0.6em;
    padding-left: 0.3em;
  }
}

.brand-name {
  margin-left: 0.5em;
  margin-bottom: -1.5em;
  text-transform: uppercase;
  font-size: 0.8em;
  align-self: flex-end;
  color: #333;
  font-weight: 700;
}

.brand-logo {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  max-height: 9%;
  align-self: flex-end;
}

.discount-percent {
  background-color: var(--red);
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  max-height: 3.5em;
  align-self: flex-end;
  padding: 0.3em;
  margin: 0;
  border-radius: 1em 0 0 0;
}

.discount-percent h3 {
  font-size: 1.8em;
  color: white;
  margin: 0;
}

@media (max-width: 460px) {
  .good-year-logo {
    max-height: 2em;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .brand-logo {
    max-height: 2.5em;
  }
}

@media only screen and (min-width: 1279px) and (max-width: 1281px) {
  .good-year-logo {
    max-height: 2.3em;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1540px) {
  .brand-logo {
    max-height: 3em;
  }
}

/* .brand-name:before {
    content: "";
    background: black;
    display: block;
    position: absolute;
    width: 10em;
    height: 2em;
    bottom: 2.25em;
    left: 0;
    opacity: .1;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
} */

.card-actions {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.33em;
  padding: 0.4em 0em 0em 0em;
  margin-bottom: 1em;
}

.btn-edit,
.btn-delete {
  width: 50%;
  box-shadow: 2px 2px 3px 0px #999999;
}

.btn-edit {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 1.8em 0;
  background-color: #4caf50;
  border: none;
  color: white;
  /* padding: .1em ; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transition: all 0.6s ease;
}

.btn-delete {
  position: relative;
  overflow: hidden;
  /* border-radius: 1em 0 0 1em;  */
  background-color: #ff5e5e;
  margin-right: auto;
  border: none;
  color: white;
  /* padding: .1em ; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transition: all 0.6s ease;
}

.btn-delete:hover {
  background-color: #ff3a3a;
  color: white !important;
}

.btn-edit:hover {
  background-color: #229425;
  /* box-shadow: 1px 1px 1px 1px #eee; */
}

.btn-edit:after {
  content: "";
  background: #90ee90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s ease;
  border-radius: 0 1em 1em 0;
}

.btn-edit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.btn-delete:after {
  content: "";
  background: #ff8989;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s ease;
  border-radius: 0 1em 1em 0;
}

.btn-delete:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.form-container {
  margin: 0.5em;
  display: inline-flex;
  flex-direction: row;
  gap: 0.66em;
}

@media (max-width: 1050px) {
  .form-container {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
  }

  .form-select {
    width: 55vw !important;
  }

  #select-width {
    border-radius: 1em 1em 0 0;
  }

  #reset-button {
    border-radius: 0 0 1em 1em;
    margin-bottom: 1em !important;
  }

  .disclaimer-row {
    width: 85% !important;
    margin: 1em auto 2em auto !important;
  }
}

.form-select {
  padding: 0 3em;
  border: none;
  height: 3em;
}

.form-group label {
  font-size: 0.9em;
  margin: 0;
  color: #333;
}

.form-control {
  /* border: 1px solid #ddd; */
  background-color: #e1e2f5;
  padding-left: 0.6em;
}

.posebna-ponuda-checkbox {
  font-size: 2em !important;
}

/* --------------------------- FILTER --------------------------- */

.filter-container {
  background: rgba(255, 255, 255, 0.411);
  width: 25%;
  top: 6em;
  bottom: 0;
  margin-top: 4.7em;
  margin-left: 3em;
  margin-bottom: 3em;
  padding: 1em 3em 3em 3em;
  border-radius: 1.5em;
  backdrop-filter: blur(2em) brightness(200%);
}

.filter-bg {
  /* width: 100vw;
  height: 100vh !important; */
  background-image: linear-gradient(0deg, #1b1e22 0%, rgba(0, 0, 0, 0.623) 20%), url("./images/filter-bg.jpg") !important;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  top: 0;
  /* background-attachment: fixed;
  overflow-y: scroll !important; */
}

.filter-title-p {
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 0 !important;
  color: #333;
  font-family: 'Univia Pro', sans-serif;
}

.filter-size-search-row {
  width: 100%;
  /* background: red; */
}



.filter-size-search-form-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  width: 100%;
}

.filter-form-select {
  height: 3em;
  width: 100%;
  text-align: center;
  border-radius: .5em;
  margin: 0;
  padding: 0;
}

.filter-size-reset-button {
  /* height: 3em; */

  background: #ff3035;
  width: 100%;
  color: white;
  margin: 0;
  margin-top: .5em;
  border-radius: .5em;
}

.filter-checkbox-row {
  /* background-color: rebeccapurple; */
  margin: .2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
}

.filter-checkbox-row-flexcolumn {
  flex-direction: column;
  padding-top: 0;
}

.filter-checkbox-label {
  height: 2.5em;
  width: 100%;
  text-align: center;
  padding-top: .7em;
  cursor: pointer;
  border-radius: .5em;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 1),
    2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all .6em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  ;
  color: rgb(80, 80, 80);
  /* text-shadow: 1px 1px 3px rgb(194, 194, 194);; */

}

.filter-checkbox-label-h3 {
  font-size: 1em;
  color: #1a7f83;
  font-weight: 400;
  padding-bottom: 0;
}




.checkbox-sava:checked~.label-sava,
.checkbox-goodyear:checked~.label-goodyear,
.checkbox-dunlop:checked~.label-dunlop,
.checkbox-vredestein:checked~.label-vredestein,
.checkbox-summer:checked~.label-summer,
.checkbox-winter:checked~.label-winter,
.checkbox-allseason:checked~.label-allseason,
.checkbox-putnicka:checked~.label-putnicka,
.checkbox-suv:checked~.label-suv,
.checkbox-dostavna:checked~.label-dostavna {
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 1),
    inset 3px 3px 1px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
  text-shadow: 0px 0px 5px #fff;
  ;
}

.label-sava {
  background: rgba(0, 255, 0, 0.5)
}

.label-goodyear {
  background: rgba(60, 96, 255, 0.5)
}

.label-dunlop {
  background: rgba(255, 255, 0, 0.5);
}

.label-vredestein {
  background: rgba(100, 100, 100, .33)
}

.label-summer,
.label-winter,
.label-allseason {
  background: rgba(255, 255, 255, 0.281)
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
}

.filter-button {
  width: 100%;
  border-radius: .5em;
  background-color: #28cdd3 !important;
  transition: all .6s ease;
  margin-bottom: .5em;

}

.filter-button h3 {
  color: white !important;
}

.filter-button:hover {
  background-color: #28b6bb !important;
}

.filter-button:disabled:hover {
  background-color: #28cdd3 !important;
}

/* .filter-button:disabled::after {
  opacity: 0;
  transition: all 4s ease;
  z-index: 0;
} */

.filter-button:disabled:hover::after {
  content: 'Morate zavrsiti ili ponistiti odabir dimenzije';
  font-size: .77em;
  text-transform: lowercase;
  color: white;
  position: absolute;
  left: 0;
  bottom: -0em;
  width: 100%;
  background-color: #ff3333;
  opacity: 1;
  transition: all 1s ease;
  border-radius: 0 0 .5em .5em;



}

.filter-reset-button {
  width: 100%;
  border-radius: .5em;
  background-color: #ff3333 !important;
  transition: all .6s ease
}

.filter-reset-button h3 {
  color: white !important;
}

.filter-reset-button:hover {
  background-color: #df3b3b !important;
}

/* .filter-button:disabled:hover::after {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */


/* -------------------------- SIZE SEARCH ---------------------------- */

.after-landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(131, 131, 131, 0.274)) 97.5%;
  background-color: rgba(51, 54, 56, 0) !important;
  backdrop-filter: blur(.4em) brightness(140%);
  padding: 3em !important;
}

#select-width {
  cursor: pointer;
}



.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: linear-gradient(0deg, #009688 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(255, 255, 255) 1px, transparent 0) !important;
}

.disclaimer-row {
  width: 66%;
  margin: 0 auto;
  font-size: 1.2em;
  color: #ffffff;
  text-shadow: 1px 1px #999;
  text-align: center
}

.form-row {
  display: flex;
  background-color: #d7dceb;
  max-width: 90%;
  margin: 1em auto 1em auto;
  border-radius: 3em;
}

.size-search {
  background-color: rgba(183, 223, 255, 0);
  margin-bottom: 0 !important;
  padding-bottom: 2em !important;
}

.size-search-row {
  background-color: rgba(175, 194, 216, 0.856);
  padding: 1em;
  transition: all 1s ease;
  width: 85%;
  margin: 2em auto 0 auto;
}

.size-search-row-open {
  border-radius: 5em 5em 0 0;
}

.size-search-row-close {
  border-radius: 5em 5em 7em 7em;
}

.size-search-form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 2em;
  margin-bottom: 1em;
}

.size-search-result {
  transition: all 1s ease;
}

.reset-size-search-button {
  position: absolute;
  background: #ff3035 !important;
  color: white !important;
  transition: all .9s ease;
  right: 0em !important;
}

.reset-size-search-button:hover {
  background-color: #e02e31 !important;
  /* color: white !important; */
}




/* ---------------------- CAROUSEL ---------------- */

.carousel {
  /* box-shadow: inset 0em 2em 3em black, inset 0em -2em 3em black; */
  width: 100% !important;
  position: relative;

}

.carousel-gradient {
  position: absolute;
  background-image: linear-gradient(120deg, rgba(0, 3, 10, .9), rgba(0, 0, 0, .5) 70%);
  z-index: 999;
  width: 100% !important;
  height: 100% !important;
  left: 0;
  top: 0;
}

.carousel-container {
  /* position: relative; */
  height: 40vw;
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 99;
}

.carousel-h3 {
  position: absolute;
  top: 46%;
  width: auto;
  margin: 0 !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  color: #fff;
  font-size: 2vw;
  font-weight: 200;
  padding: .6em 1.5em .75em 1.5em;
  border-radius: 1.5em;
  cursor: pointer;
  text-align: center;
  transition: all .6s ease;
  backdrop-filter: blur(.2em) brightness(120%);
}

.carousel-h3-goodyear {
  border: 1px solid var(--good-year-carousel);
  background-color: rgba(0, 20, 50, .6);
}

.carousel-h3-goodyear:hover {
  background-color: rgba(0, 20, 50, .9);
  border-color: #fff;
}

.carousel-h3-dunlop {
  border: 1px solid var(--dunlop-carousel);
  background-color: rgba(255, 238, 0, 0.2);
}

.carousel-h3-dunlop:hover {
  background-color: rgba(255, 235, 56, 0.5);
  border-color: #fff;
}

.carousel-h3-sava {
  border: 1px solid var(--sava-carousel);
  background-color: rgba(115, 223, 101, 0.2);
}

.carousel-h3-sava:hover {
  background-color: rgba(73, 255, 56, 0.363);
  border-color: #fff;
}

.carousel-h3-vredestein {
  border: 1px solid var(--vredestein-carousel);
  background-color: #cecac55b
}

.carousel-h3-vredestein:hover {
  background-color: #cfcac37e;
  border-color: #fff
}

.carousel-brand {
  position: absolute;
  bottom: 1em;
  right: 1em;
  height: 4vw;
  z-index: 999;
  opacity: .8;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100% !important;
  bottom: 0;
  z-index: 99;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: 5em !important;
  color: white !important;
  z-index: 9999999999;
}

.slick-prev {
  position: absolute !important;
  left: .1em !important;
}

.slick-next {
  position: absolute !important;
  right: 1.1em !important;
}

/* -------------------------------- BACK BUTTON --------------------------------- */

.back-button {
  background-color: black;
  width: 1.5em;
  height: 1.5em;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  padding-right: 0.15em;
  border-radius: .33em;
  right: .2em;
  bottom: .9em;
  color: var(--good-year-carousel);
  z-index: 999999;
  transition: all .6s ease;
  cursor: pointer;
}

.back-button:hover {
  background-color: rgb(243, 64, 64);
}

/* -------------------------------- FULL  SINGLE PRODUCT --------------------------------- */

.full-single-product {
  gap: 0;
  position: relative;
  display: grid;
  grid-template-columns: 30% 50% 30%;
  gap: 0;
  width: 90vw;
  opacity: 1;
  border-radius: 5em 5em 3em 5em;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 0em !important;
  justify-content: flex-start flex-end;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.158);
  z-index: 99;
}

.single-product-image {
  margin: 0;
  padding: 0 0 1em 0;
  border-radius: 5em 5em 0 5em;
  z-index: 999;
  text-align: center;
  background-color: white;
  box-shadow: 0em 1em 1em rgb(0, 0, 0, 0.1);
}

.single-product-image img {
  margin-top: 2em;
  width: 88%;
  border-radius: 4em 4em 0 0;
}

.single-product-image h3 {
  text-align: left;
  padding-left: 6%;
  padding-bottom: 0 !important;
  margin-top: 0.5em;
  margin-bottom: 0 !important;
  font-family: "Univia Pro", sans-serif !important;
  color: #999;
  font-size: 2.2vw;
}

.single-product-image h4 {
  text-align: left;
  padding-left: 6%;
  font-family: "Segoe UI", sans-serif !important;
  margin-top: 0 !important;
  margin-bottom: 2em !important;
  color: #000;
  font-size: 1.33vw;
  font-weight: 400 !important;
  font-style: italic !important;
  color: #333;
}

.brand-logo-container {
  position: relative;
  width: 100%;
  background-color: var(--red);
}

.single-product-brand-logo {
  height: 3.3vw;
  width: auto !important;
  border-radius: 0 !important;
  position: relative;
  bottom: .66em !important;
  float: right;
  margin-right: 6%;
  box-shadow: 0 0 1em #bbbccc;
}

.single-product-content {
  border-radius: 5em;
  transform: translateX(-10%);
  padding-left: 15%;
  padding-top: 2em;
  background: white;
  border-radius: 0 5em 5em 0;
  margin: 0 !important;
  z-index: 998;
  box-shadow: 0 0 1em #bbbccc;
}

.single-product-content h3 {
  color: #888;
  font-size: 3vw !important;
  font-family: "Univia Pro", sans-serif !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.single-product-content h4 {
  font-family: "Segoe UI", sans-serif !important;
  font-weight: 500 !important;
  font-style: italic;
  font-size: 1.6vw;
  color: #000;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.labels-table {
  background-color: rgba(255, 255, 255, 0.66);
  margin-left: -2.1em !important;
  padding: .6em 2em;
  font-family: "Segoe UI", sans-serif !important;
  font-weight: 500 !important;
  color: #888;
  font-size: 1.1vw !important;
  width: 100%;
  border-radius: 0 2em 2em 0;
  ;
}

.labels-table td:last-child {
  padding-left: 1.66em !important;
  border-left: solid 1px #888;
}

.table-left {
  font-size: 1.8vw;
  font-weight: bold;
  ;
}

.dot-h4 {
  font-family: "Segoe UI", sans-serif !important;
  font-style: italic !important;
  color: #0091d2 !important;
  font-weight: bold !important;
  font-size: 1.6vw !important;
  margin-bottom: 0.2em !important;
}

.producedin-h4 {
  font-family: "Segoe UI", sans-serif !important;
  font-style: italic !important;
  color: #666 !important;
  font-weight: bold !important;
  font-size: 1.6vw !important;
  text-transform: none !important;
  margin-top: 0 !important;
  padding-bottom: 1em !important;
}

.single-product-description {
  font-size: 1vw;
  width: 83%;
  position: absolute !important;
  bottom: .5em !important;
  margin-left: -3em;
  padding-left: 1.8em;
}

.label-container {
  position: relative;
  width: 100%;
  transform: translateX(-16.5%);
  text-align: right !important;
}

.labels {
  position: relative;
  margin-top: 3em;
  width: 65%;
  padding: 1em;
  border-radius: 2em 2em 0 2em;
  background-color: white;
  left: 30% !important;
  transform: translateX(-32%);
  box-shadow: 0 0 1em #bbbccc;
}

.wet-fuel {
  display: grid;
  grid-template-columns: 55% 40.5%;
  gap: 5%;
}

.fuel-image {
  width: 100%;
}

.wet-image {
  width: 100%;
}

.noise-image {
  margin-top: 1em;
  max-width: 100%;
}

.noise-image-container {
  position: relative;
}

.noise-image-container h4 {
  position: absolute;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 800 !important;
  text-transform: none !important;
  font-size: 1.5vw;
  color: white;
  top: 50%;
  transform: translateY(-66%);
  right: 0.66em;
}

.price-container {
  position: absolute;
  /* background-color: green; */
  bottom: 0 !important;
  width: 100%;
  height: 20%;
}

.price-labels-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.discount-price-label {
  position: absolute;
  float: right !important;
  background-color: yellow;
  right: 6vw;
  bottom: 1.9vw;
  padding: 0.5vw 2vw 0.5vw 1vw !important;
  margin: 0 !important;
  line-height: 1em !important;
  border-radius: 0 0 2em 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.171);
  z-index: 9;
}

.discount-price-label h2 {
  font-size: 2.5vw;
  margin: 0 !important;
  line-height: 1em !important;
  font-weight: 600 !important;
  font-style: italic;
  text-shadow: 2px 2px 0 white;
  z-index: 9;
}

.full-price-label {
  position: absolute;
  float: left !important;
  background-color: yellow;
  left: 1em !important;
  top: -0.5vw;
  z-index: 8;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.171);
  padding: 0.5vw 1.5vw 1vw 1.5vw;
  border-radius: 1em 0 0 0;
}

.full-price-label h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 2vw;
  font-weight: bold !important;
  -webkit-text-decoration: line-through black;
  text-decoration: line-through black;
  color: var(--red);
  font-style: italic !important;
}

.percent-label {
  position: absolute;
  font-style: italic;
  right: 6vw;
  bottom: 4.5vw !important;
  font-size: 1vw;
}

.percent-label h2 {
  color: green;
  font-weight: bold;
}

/* Single Product Mobile */

@media (max-width: 1000px) {
  .full-single-product {
    gap: 0;
    position: relative;
    display: block;
    width: 95vw;
    opacity: 1;
    border-radius: 5em 5em 5em 0;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 !important;
    margin: 0 !important;
    background: white;
    overflow: hidden;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.158);
  }

  .single-product-image {
    margin: 0;
    padding: 0 0 1em 0;
    border-radius: 5em 5em 0 0;
    z-index: 999;
    text-align: center;
    background-color: white;
    box-shadow: 1em 0 1em rgb(0, 0, 0, 0.1);
  }

  .single-product-image img {
    margin-top: 2em;
    width: 88%;
    border-radius: 4em 4em 0 0;
  }

  .single-product-image h3 {
    text-align: left;
    padding-left: 6%;
    padding-bottom: 0 !important;
    margin-top: 0.5em;
    margin-bottom: 0 !important;
    font-family: "Univia Pro", sans-serif !important;
    color: #999;
    font-size: 2.3em;
  }

  .single-product-image h4 {
    text-align: left;
    padding-left: 6%;
    font-family: "Segoe UI", sans-serif !important;
    margin-top: 0 !important;
    margin-bottom: 3em !important;
    color: #000;
    font-size: 1.33em;
    font-weight: 400 !important;
    font-style: italic !important;
    color: #333;
  }

  .brand-logo-container {
    position: relative !important;
    bottom: 5em !important;
    width: 100%;
  }

  .single-product-brand-logo {
    height: 3.3em;
    width: auto !important;
    border-radius: 0 !important;
    float: right;
    margin-right: 6%;
    box-shadow: 0 0 1em #bbbccc;
  }

  .single-product-content {
    border-radius: 5em;
    transform: translateX(0%);
    width: 95%;
    padding-left: 2em;
    padding-top: 1em !important;
    background: white;
    border-radius: 0 3em 3em 0;
    margin: 1.66em 0 0 0 !important;
    z-index: 998;
    box-shadow: 0 0 1em #bbbccc;
  }

  .single-product-content h3 {
    display: none !important;
    color: #888;
    font-size: 2em !important;
    font-family: "Univia Pro", sans-serif !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .single-product-content h4 {
    font-family: "Segoe UI", sans-serif !important;
    font-weight: 500 !important;
    font-style: italic;
    font-size: 1.33em;
    color: #000;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .single-product-content-h4-title {
    display: none;
  }

  .br {
    display: none;
  }

  .labels-table {
    width: 95%;
    font-size: .9em !important;
  }

  .table-left {
    font-size: 1.5em !important;
  }

  .dot-h4 {
    font-family: "Segoe UI", sans-serif !important;
    font-style: italic !important;
    color: #0091d2 !important;
    font-weight: bold !important;
    font-size: 1.6em !important;
  }

  .producedin-h4 {
    font-family: "Segoe UI", sans-serif !important;
    font-style: italic !important;
    color: #666 !important;
    font-weight: bold !important;
    font-size: 1.33em !important;
    text-transform: none !important;
    margin-top: 0 !important;
  }

  .label-container {
    position: relative;
    width: 80%;
    text-align: right !important;
    margin-bottom: 5em !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  .labels {
    position: relative;
    margin-top: 3em;
    width: 100%;
    padding: 1em;
    border-radius: 2em 2em 0 2em;
    background-color: white;
    box-shadow: 0 0 1em #bbbccc;
  }

  .wet-fuel {
    display: grid;
    grid-template-columns: 55% 40.5%;
    gap: 5%;
  }

  .fuel-image {
    width: 100%;
  }

  .wet-image {
    width: 100%;
  }

  .noise-image {
    margin-top: 1em;
    max-width: 100%;
  }

  .noise-image-container {
    position: relative;
  }

  .noise-image-container h4 {
    position: absolute;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 800 !important;
    text-transform: none !important;
    font-size: 2.2em;
    color: white;
    top: 50%;
    transform: translateY(-66%);
    right: 0.66em;
  }

  .price-container {
    position: relative;
    height: 5em !important;
    width: 100% !important;
    padding: 0 !important;
    left: -.5em !important;
    margin-top: 1em;
  }

  .price-labels-container {
    display: inline-flex;
    position: relative;
    /* justify-content: space-evenly !important; */
  }

  .discount-price-label {
    position: relative;
    padding: 1em !important;
    height: 66%;
    top: 12%;
    right: 0;
    width: 95% !important;
    margin-left: .33em !important;
  }

  .discount-price-label h2 {
    font-size: 1.5em;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1em;
    text-align: center;
  }

  .full-price-label {
    position: relative;
    padding: 1em !important;
    height: 66%;
    width: 95% !important;
    top: 12%;
    left: 0 !important;
    margin-right: .33em !important;
    justify-content: center;
  }

  .full-price-label h3 {
    font-size: 1.5em;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1em;
    text-align: center;
    justify-content: center;
  }

  .percent-label {
    display: none;
    position: relative;
    padding: 1em !important;
    height: 66%;
    top: 12%;
    right: 0;
    width: 95% !important;
    margin-left: .33em !important;
  }

  .percent-label h2 {
    font-size: 5em;
    padding: .4em 0 !important;
    margin: 0 !important;
    line-height: 1em;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
  }
}

@media (max-width: 375px) {
  .noise-image-container h4 {
    font-size: 2em;
    ;
  }
}

@media (max-width: 1030px) {
  .percent-label h2 {
    font-size: 2.22em;
    ;
  }
}

.footer {
  height: 1.6em;
  background-color: #cfdfef;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0.2em;
}

.footer p {
  position: absolute;
  right: 5em;
}

.good-year {
  background: linear-gradient(to top, rgb(70, 156, 255) 0%, rgb(130, 199, 255) 30%, rgb(219, 239, 255) 100%);
}

.dunlop {
  background: linear-gradient(0deg, rgb(255, 213, 0) 0%, rgb(251, 255, 141) 100.2%);
}

.sava {
  background: linear-gradient(0deg, rgb(81, 161, 81) 0%, rgb(155, 206, 88) 30%), rgb(235, 255, 208) 90.3%;
}

.vredestein {
  background: linear-gradient(to top, rgb(124, 124, 124) 0%, rgb(214, 214, 214) 30%, rgb(218, 218, 218) 100%);
}

.fulda {
  background: linear-gradient(to top, #fd5d5d 0%, #ffd0d0 30%);
}

.good-year-content {
  background: linear-gradient(to top, rgb(70, 156, 255) 0%, rgb(130, 199, 255) 30%, rgb(219, 239, 255) 100%);
}

.dunlop-content {
  background: linear-gradient(0deg, rgb(255, 213, 0) 0%, rgb(251, 255, 141) 100.2%);
}

.sava-content {
  background: linear-gradient(16deg, #00ff00 0%, #e7fee9 100%);
}

.vredestein-content {
  background: linear-gradient(to top, rgb(124, 124, 124) 0%, rgb(214, 214, 214) 30%, rgb(218, 218, 218) 100%);
}

.fulda-content {
  background: linear-gradient(to top, #fd5d5d 0%, #ffd0d0 30%);
}

/* --------------------- ADD TO CART --------------- */

.add-to-cart-container {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  gap: .33em;
  background: white;
  position: relative;
  padding-top: 2em;
  padding-bottom: 1em;
  width: 42%;
  left: 57%;
  margin-top: 5em;
  transform: translateX(-15%);
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.096);
  border-radius: 0 0 2em 2em;

}

.add-to-cart-decrease {
  font-size: 2em;
  width: 3em;
  height: 2em;
  background: var(--dark-bg);
  border-radius: 1em 0 0 1em;
  ;
}

.add-to-cart-increase {
  font-size: 2em;
  width: 3em;
  height: 2em;
  background: var(--dark-bg);
}

.add-to-cart-input {
  height: 2em;
  font-size: 2em;
  border: none !important;
  background: var(--background-color);
  width: 4em
}

.add-to-cart-submit {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 2em;
  height: 2em;
  background: #66f066;
  padding-right: 2em;
  border-radius: 0 1em 1em 0;
  color: white;
}

/* -------------------  KORPA -------------------- */

.korpa-container {
  gap: 0;
  position: relative;
  display: grid;
  grid-template-columns: 66% 34%;
  gap: 0;
  width: 90vw;
  height: 80vh;
  opacity: 1;
  border-radius: 5em 5em 0em 3em;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 7em !important;
  justify-content: flex-start flex-end;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.158);
}

.korpa-right {
  background-color: #ebebeb;
  border-radius: 0 5em 0em 0;
  position: relative;
}

.korpa-left {
  position: relative;
  overflow-y: scroll;
  /* margin-right: .8em; */
}

.korpa-left h2,
.korpa-right h2 {
  margin-left: 2em;
  margin-top: .5em;
  font-weight: bold;
  color: #555;
}

.korpa-right h2 {
  margin-left: .5em;
  margin-top: .5em;
  font-weight: bold;
  color: #555;
}

.korpa-right table {
  font-size: .70vw;
}

.korpa-right .btn:disabled {
  cursor: default;
  color: #888;
}

/* SCROLLBAR KORPA LEFT */

/* STYLE 4 */

#style-4::-webkit-scrollbar-track {
  box-shadow: inset 5px 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 1px 0 5px rgba(0, 0, 0, 0.3);
  background-color: var(--background-color);
  transform: translateX(-1em) !important;
}

#style-4::-webkit-scrollbar {
  width: 10px;
  height: 95% !important;
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: .1em;
}

.proizvod-row {
  background-color: #d8d8d8;
  width: 95%;
  border-radius: 1.5em;
  margin: auto 2em;
  padding: 0 .5em;
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-columns: 10% 38% 20% 15% auto;
  align-content: center;
  justify-content: left;
  gap: .6em;
  margin-bottom: 1em;
  /* padding: .6em 0 .6em .6em; */
  box-shadow: .3em .5em .5em rgba(0, 0, 0, 0.1);
  position: relative;
}

.proizvod-row:last-child {
  margin-bottom: 2em;
}

.cart-left-image {
  background-color: white;
  max-width: 100%;
  height: 90%;
  margin: auto 0;
  border-radius: 1em;
  position: relative;
}

.cart-left-image img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 1em;
}

.cart-left-product {
  background-color: white;
  max-width: 100%;
  height: 90%;
  margin: auto 0;
  border-radius: 1em;
  position: relative;
}

.cart-left-product p {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  font-size: 1.2vw;
  font-weight: bold;
  color: #555;
  transform: translateY(-50%);
}

.cart-left-product span {
  font-weight: normal;
  font-style: italic;
  font-size: 1.5vw;
}

.cart-left-price-count {
  background-color: WHITE;
  max-width: 100%;
  height: 90%;
  margin: auto 0;
  border-radius: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cart-count {
  /* background-color: teal; */
  top: .1em;
  padding: .3em;
  margin: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
  /* border-bottom: 1px solid rgb(228, 228, 228); */
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 1vw;
  position: relative;
}

.form-control {
  background-color: #ddd !important;
  border: none !important;
  box-shadow: none !important;
}

.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: none !important;
}

.form-control:focus {
  background-color: #ddd !important;
  border-radius: .3em !important;
  border: 0px solid rgb(231, 231, 231) !important;
  box-shadow: 0 0 8px rgb(133, 255, 150) !important;
  transition: all .3s ease;
}

.count-minus {
  cursor: pointer;
  background-color: #ddd;
  height: 2vw;
  width: 2vw;
  text-align: center;
  border-radius: 50%;
  margin: 0;
  position: relative;
  top: .5em;
}

.count-minus p {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 1.6vw;
  text-align: center;
  margin: auto;
  line-height: 1.8vw;
}

.count-value {
  position: relative;
  height: 2.5vw;
  width: 2.5vw;
  margin: 0;
  background-color: #ddd;
  border-radius: .7em;
}

.count-value input {
  border: none;
  background-color: #ddd;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  border-radius: .7em;
  font-size: 1.6vw;
  padding: 0;
}

.count-plus {
  cursor: pointer;
  background-color: #ddd;
  height: 2vw;
  width: 2vw;
  text-align: center;
  border-radius: 50%;
  margin: 0;
  position: relative;
  top: .5em;
}

.count-plus p {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 1.6vw;
  text-align: center;
  margin: auto;
  line-height: 1.8vw;
}

.cart-count-hr,
hr {
  margin: 0;
  padding: 0;
  height: 1px;
}

.cart-count-price {
  margin: 0;
  height: 100%;
  text-align: center;
  position: relative;
  /* background-color: tomato; */
  top: 0;
  position: relative;
}

.cart-count-price p {
  font-weight: bold;
  font-size: 1.3vw;
  color: #555;
  height: 100%;
  width: 100%;
  /* background-color:tomato; */
  padding: 0;
}

.cart-left-price {
  background-color: white;
  max-width: 100%;
  height: 90%;
  margin: auto 0;
  border-radius: 1em;
  position: relative;
}

.cart-left-price p {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  font-size: 1.2vw;
  font-weight: bold;
  color: #555;
  transform: translateY(-50%);
}

.cart-left-remove {
  position: relative;
  max-width: 100%;
  height: 100%;
  width: 7vw;
  ;
  margin: auto 1.5vw;
}

.icon-delete {
  position: relative;
  font-size: 2.5vw;
  color: white;
  background-color: var(--red);
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  margin: auto 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  box-shadow: inset white 1px 2px 3px, inset rgb(97, 61, 61) -1px -2px 3px, rgba(0, 0, 0, 0.253) 2px 3px 4px;
  cursor: pointer;
  /* transition: .6s ease; */
}

.icon-delete:active {
  background-color: var(--red);
  top: 50%;
  transform: translateY(-49%);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  box-shadow: inset white 1px 2px 3px, inset rgb(97, 61, 61) -1px -2px 3px, rgba(0, 0, 0, 0.151) 1px 2px 2px;
}

.icon-delete:hover {
  background-color: rgb(255, 75, 75);
}

.icon-delete .anticon svg {
  position: absolute;
  margin: 0;
  padding: .1em;
  margin-top: 0.75vw;
  left: 50%;
  transform: translateX(-50%);
}

/* --------------------------- LOGIN FORMA ---------------------- */

.login-form-container {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  background-color: rgb(255, 255, 255);
  width: 100% !important;
  display: flex;
  flex-direction: column;



}

.login-form-left,
.login-form-right {
  width: 100%;

  flex-grow: 1;

}

.email-password-login-form {}

.social-login-form {}

.ant-modal {
  /* border-radius: 3em !important; */
  /* overflow: hidden; */
  padding-bottom: 3em !important;
}

.modal-radius {
  border-radius: 3em !important;
}

.ant-modal-body {
  margin: 0 !important;
  padding: 1.5em 2em !important;

}

.auth-input-label {
  margin-left: 1.8em;
  font-size: 1em;
  color: #999 !important
}

.ant-menu-item-selected {}

/* .active-link {
  padding-bottom: 1em;
  width: 30em;
  background-color: red !important;
  border-bottom: 2px red solid
} */

.input-no-bg {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto 1rem auto;
  background: #e4eef7ce !important;
  /* border: solid 1px rgb(167, 162, 179) !important; */
  padding: 1rem;
  height: 3rem;

  /* border-radius: 0 1em; */
  box-shadow: inset .1em .1em .1em rgba(0, 0, 0, 0.219), 1px 1px white !important;
}

.input-no-bg:focus {
  border: none !important;
  box-shadow: inset .1em .1em .2em rgba(0, 0, 0, 0.219), 1px 1px white !important;
  background: #c5ced663 !important;
  border-radius: 0 !important;
}

.width-90 {
  width: 90% !important;
  max-width: 90% !important;
  left: 1em;
}

.auth-p {
  text-align: right;
  margin-right: 1.8em;
  padding: 0;
}

.auth-p2 {
  margin: 1em 0 0 0;
  text-align: center;
}



.login-form-button {
  left: 0;
  right: 0;
  margin: 0 5% !important;
  color: white;
  padding: 1rem;
  height: 3rem;
  width: 90%;
  background-color: var(--good-year-carousel) !important;
}

.reg-button-container {
  padding-top: 1.5em;
  width: 100% !important;

}

.reg-button-right {
  height: 3rem;
  width: 100% !important;
  color: white !important;
  background-color: #589de2 !important;
  left: 0;
  right: 0;
  margin: auto;
}

.reg-button-right:disabled {
  color: white !important;
  cursor: default !important;
}

.reg-button-right:disabled:hover {
  background-color: var(--good-year-carousel) !important;

}

.reg-form-container {
  background-color: rgba(240, 248, 255, 0.753) !important;
  width: 66%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 7em;
  padding-bottom: 1.66em;
  backdrop-filter: blur(.2em) brightness(240%);
  border-radius: 3em;
  box-shadow: inset 1px 1px 1px white, .5em .5em 1em rgba(0, 0, 0, 0.233), inset -1px -1px 2px black;
}

.reg-form-title {
  padding: 0 5em;
  padding-top: 2em;
}

.reg-form-title-text {
  margin: .5em !important;
  padding-bottom: 1em !important;
  font-size: 2em !important;
  font-family: "Univia Pro", sans-serif !important;
}

.register-bg {
  width: 100vw;
  height: 100vh !important;
  background-image: linear-gradient(0deg, #1b1e22 0%, rgba(0, 0, 0, 0.623) 20%), url("./images/register-bg.jpg") !important;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  padding: 0 !important;
  position: relative;
  top: 0;
}

/* ------------------------------------ MODAL ----------------------------------- */

.ant-modal-header {

  color: blue !important;
  /* background-color: red; */
}

.ant-modal-title {
  font-size: 2em !important;
  font-family: "Univia Pro", sans-serif !important;
}